body {
    background-image: linear-gradient(to top, #585858, #4e4e4e, #444444, #3a3a3a, #303030, #303030, #303030, #303030, #3a3a3a, #444444, #4e4e4e, #585858);

}

/* #searchField:focus, #searchBtn:focus {
    outline: none;
    background-color: white;
    color: black;
    border: 3px mediumturquoise solid;
} */

.resultCard:hover {
    border: 1px hotpink solid;
    cursor: pointer;
}

html, body {
/* Google fonts hasn't imported properly, link is in public/index.html */
    /* font-family: 'Yellowtail', cursive; */
    height: 1200px;
  }